@charset "ISO-8859-1";

@font-face{
	font-family: "Julius Sans One";
	src: url(../fonts/JuliusSansOne-Regular.ttf) format("truetype");
}
@font-face{
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}
@font-face{
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-Light.ttf) format("truetype");
	font-weight: 300;
}
@font-face{
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-SemiBold.ttf) format("truetype");
	font-weight: 600;
}
@font-face{
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-Italic.ttf) format("truetype");
	font-style: italic;
}

:root{
	
	/* Variáveis para definição da paleta de cores principal. */
	--DARK: #362F2A;
	--LIGHT: #EEE8E1;
	--ACCENT1: #F2E9BD;
	--ACCENT2: #498DB8;
	--ACCENT3: #BF8360;
	
	/* Variáveis para cores com opacidade,
	   de acordo com a paleta de cores principal. */
	--ACCENT1-TP: #EEE8E166;
	--DARK-TP: #362F2Acc;
	
	/* Variáveis para definição da tipografia principal. */
	--font-content: 'Open Sans', sans-serif;
	--font-accent: 'Julius Sans One', sans-serif;
}

*{
	color: var(--DARK);
	font-family: var(--font-content);
}
body{
}
p{
	font-family: var(--font-content);
	font-weight: 300;
}
/* classe para teste/visualização do componente na página */
.outline{  
	outline: 2px solid red;
}
header{
	backdrop-filter: blur(24px);
}
header, #nav-fade-control{
	transition: all .5s;
}
.dark-bg{
	background-color: var(--DARK);
}
.header-bg, .footer-bg{
	background-color: var(--ACCENT2);
}
.light-text{
	color: var(--LIGHT);	
}

#escape-logo{
	text-align: center;
}

#logomarca{
	height: 60px;
}

.navbar ul li a.nav-link, .navbar ul li .header-dropdown{
	color: var(--ACCENT1);
	font-family: var(--font-accent);
	letter-spacing: 2px;
	font-size: 1em;
	transition: all .2s;
}
.navbar ul li{
	position: relative;
}
.navbar ul li a::after{
	content: '';
	position: absolute;
	width: 0;
	height: 1px;
	left: 0;
	bottom: 6px;
	background-color: var(--ACCENT1);	
	transition: aLL .2S;
}
.navbar ul li:hover a::after{
	width: 100%;	
}

#banner{
	width: 100%;
	background: url("../img/bg/banner4.jpg");
	background-size: cover;
	background-attachment: fixed;	
	
}
.banner-mask{
	padding: 10rem 0 6rem;
	background-color: #362F2A88;
	backdrop-filter: blur(8px);
	color: var(--LIGHT);
	font-weight: 100;
	font-size: 1.4em;
	letter-spacing: 1px;
}

h1{
	color: var(--ACCENT1);
	font-family: var(--font-accent);
}

/* ---> 1ª Versão: 

#search-form input{
	border-radius: 50px;
	background-color: var(--LIGHT);
	color: var(--DARK);
	font-family: var(--font-content);
	box-shadow: 2px 2px 6px 2px #333333cc;
	transition: all .2s;
	border: 0;
	outline: 0;
}
*/
.content{
	font-family: var(--font-content);
	font-weight: 300;
	letter-spacing: 1px;
}
#search-form input{
	border-radius: 0;
	background-color: var(--ACCENT1-TP);
	font-family: var(--font-content);
	letter-spacing: 1px;
	border: 0;
	border-bottom: 2px solid var(--ACCENT1);
	box-shadow: nnone;
	outline: 0;
	transition: all .2s;
}

#search-form input:hover, #search-form input:focus{
	box-shadow: 0px 2px 8px 2px var(--DARK-TP);
	background-color: var(--LIGHT);
	border-bottom: 2px solid var(--LIGHT);
}

label{
	font-family: var(--font-content);
	font-weight: 300;
	letter-spacing: 1px;
}
input, input[type = text]{
	font-family: var(--font-content);
}
.inline-add-button{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.inline-select-button{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
#chkDisponibilidade{
	transition: all .2s;
}
#chkDisponibilidade:checked{
	border: 2px solid var(--ACCENT2);
}

.form-check-input:checked{
	background-color: var(--ACCENT2);
}
#txtPesquisar{
	border-radius: 0;
	font-family: var(--font-content);
	font-weight: 300;
	letter-spacing: 1px;
}
#btnSelecionarGeneros:hover{
	color: var(--ACCENT2);
	
}
.btn-fechar-modal:hover{
	text-decoration: underline;
}

.btn-gravar{
	border: 0; background-color: var(--ACCENT2);
	color: white;
	font-family: var(--font-content);
	padding: 1rem 3rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 5px;
	transition: all .2s;
	box-shadow: none;
}
.btn-gravar:hover{
	box-shadow: inset 0 0 5rem var(--DARK-TP);
}
.form-control{
	outline: 2px solid #498DB800;
	transition: all .2s;
}
.form-control:hover{
	outline: 2px solid #498DB8ff;
}

footer p{
	color: var(--ACCENT1);
	font-family: var(--font-accent);
	letter-spacing: 2px;
	font-size: .8em;
}













