@charset "ISO-8859-1";

@font-face{
	font-family: "Julius Sans One";
	src: url(../fonts/JuliusSansOne-Regular.ttf) format("truetype");
}
@font-face{
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}
@font-face{
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-Light.ttf) format("truetype");
	font-weight: 300;
}
@font-face{
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-SemiBold.ttf) format("truetype");
	font-weight: 600;
}
@font-face{
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-Italic.ttf) format("truetype");
	font-style: italic;
}

:root{
	
	/* Variáveis para definição da paleta de cores principal. */
	--DARK: #362F2A;
	--LIGHT: #EEE8E1;
	--ACCENT1: #F2E9BD;
	--ACCENT2: #498DB8;
	--ACCENT3: #BF8360;
	
	--DANGER: rgb(177, 49, 31);
	
	/* Variáveis para cores com opacidade,
	   de acordo com a paleta de cores principal. */
	--ACCENT1-TP: #EEE8E188;
	--LIGHT-TP: #EEE8E1cc;
	--DARK-TP: #362F2Acc;
	
	/* Variáveis para definição da tipografia principal. */
	--font-content: 'Open Sans', sans-serif;
	--font-accent: 'Julius Sans One', sans-serif;
}

*{
	color: var(--DARK);
	font-family: var(--font-content);
}
p{
	font-family: var(--font-content);
	font-weight: 300;
}
/* classe para teste/visualização do componente na página */
.debug{  
	outline: 2px solid lime;
}
.background-text{
	font-family: var(--font-accent);
	font-size: 1.6em;
	letter-spacing: 2px;
	font-weight: 300;
}
.submit-status ion-icon{
	color: var(--ACCENT2);
	margin: 0 5px;
	font-size: 16px;	
	--ionicon-stroke-width: 48px;
}
header{
	backdrop-filter: blur(24px);
}
header, #nav-fade-control{
	transition: all .5s;
}
.dark-bg{
	background-color: var(--DARK);
}
.header-bg, .footer-bg{
	background-color: var(--ACCENT2);
}
.light-text{
	color: var(--LIGHT);	
}

#escape-logo{
	text-align: center;
}

#logomarca{
	height: 60px;
}

.navbar ul li a.nav-link, .navbar ul li .header-dropdown{
	color: var(--ACCENT1);
	font-family: var(--font-accent);
	letter-spacing: 2px;
	font-size: 1em;
	transition: all .2s;
}
.navbar ul li{
	position: relative;
}
.navbar ul li a::after{
	content: '';
	position: absolute;
	width: 0;
	height: 1px;
	left: 0;
	bottom: 6px;
	background-color: var(--ACCENT1);	
	transition: aLL .2S;
}
.navbar ul li:hover a::after{
	width: 100%;	
}

#banner{
	width: 100%;
	background: url("../img/bg/banner4.jpg");
	background-size: cover;
	background-attachment: fixed;	
	
}
.banner-mask{
	padding: 10rem 0 6rem;
	background-color: #362F2A88;
	backdrop-filter: blur(8px);
	color: var(--LIGHT);
	font-weight: 100;
	font-size: 1.4em;
	letter-spacing: 1px;
}
hr{
	border: 0;
	border-bottom: 1px solid var(--DARK);
}
h1{
	color: var(--ACCENT1);
	font-family: var(--font-accent);
}
h2{
	color: var(--DARK);
	font-family: var(--font-accent);
	letter-spacing: 1px;
	
}
.h2-light{
	color: var(--ACCENT2);
	
}
h3{
	color: var(--DARK);
	font-family: var(--font-content);
	font-size: 1.2em;
	font-weight: 100;
}
h4{
	color: var(--ACCENT2);
	font-family: var(--font-accent);
}
.h4-like{
	color: var(--ACCENT2);
	font-family: var(--font-accent);
	font-size: 1.5em;
	
}
.menu-item{
	color: var(--ACCENT1);
	font-family: var(--font-accent);
	letter-spacing: 2px;
	font-size: 1em;
	text-decoration: none;
	transition: all .2s;
}
#book-icon{
	width: 76px;
	fill: var(--DARK);
}
.multi-select-span{
	display: block;
	font-family: var(--font-content);
	letter-spacing: 1px;
	font-weight: 300;	
	
}
#generoOptionsContainer{
	max-height: 40vh;
	overflow: auto;
}
.content{
	font-family: var(--font-content);
	font-weight: 300;
	letter-spacing: 1px;
}
#search-form input{
	border-radius: 50px;
	padding-left: 20px;
	background-color: var(--ACCENT1-TP);
	font-family: var(--font-content);
	letter-spacing: 1px;
	border: 0;
	box-shadow: none;
	outline: 0;
	transition: all .2s;
}

#search-form input:hover, #search-form input:focus{
	background-color: var(--LIGHT);
}
.card{
	margin-bottom: 50px;
}
.card,.card img{
	background-color: #00000000;
	border: 0;
	border-radius: 0;
	transition: all .2s;
}
.card:hover{
	cursor: pointer;
	background-color: #eee;
}
.card:hover img{
	opacity: .8;
}
.card h3{
	font-size: 1.6em;
}
#card-button{
	position: absolute;
	right: 20px;
	bottom: 38px;
	border: none;
	color: var(--ACCENT2);
	background-color: #fff0;
}
.custom-icon{
	margin: auto;
	width: 120px;
	aspect-ratio: 1;
}

.form-text{
	font-family: var(--font-content);
	font-size: 1em;
}
label{
	font-family: var(--font-content);
	font-weight: 300;
	letter-spacing: 1px;
}

.ribbon-section{
	background-color: var(--ACCENT1);
	
}
.ribbon-section h2{
	color: var(--DARK);
}

input, input[type = text]{
	font-family: var(--font-content);
}
.inline-add-button{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.icon-redirect{
	line-height: 2px;
	font-size: 16px;
	transform: translateY(2px) rotate(-45deg);	
	color:#6C757D;
	transition: all .3s;
}

#btnAdicionarAutor:hover .icon-redirect{
	color: white;
}

.inline-select-button{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
#chkDisponibilidade{
	transition: all .2s;
}
#chkDisponibilidade:checked{
	border: 2px solid var(--ACCENT2);
}

.form-check-input:checked{
	background-color: var(--ACCENT2);
}
#txtPesquisar{
	border-radius: 0;
	font-family: var(--font-content);
	font-weight: 300;
	letter-spacing: 1px;
}
#btnSelecionarGeneros:hover{
	color: var(--ACCENT2);
	
}
.btn-fechar-modal:hover{
	text-decoration: underline;
}

.btn-gravar, #btnLogin{
	border: 0; background-color: var(--ACCENT2);
	color: white;
	font-family: var(--font-content);
	text-transform: uppercase;
	padding: 1em 2em;
	letter-spacing: 1px;
	border-radius: 3px;
	transition: all .2s;
	box-shadow: none;
}
.btn-gravar:hover, #btnLogin:hover{
	box-shadow: inset 0 0 5rem var(--DARK-TP);
}
.form-control{
	outline: 2px solid #498DB800;
	transition: all .2s;
}
.form-control:hover{
	outline: 2px solid #498DB8ff;
}

.submit-status{
	font-family: var(--font-content);
	color: var(--ACCENT2);
	letter-spacing: 1px;
	display: hidden;
	text-align: center;
	padding-left: 20px;
}
ion-icon[name="close"], .alert{
	color: var(--DANGER);
}
ion-icon[name="checkmark"]{
	color: var(--ACCENT2);
}
ion-icon[name="close"]{
	font-size: 24px;	
	transform: translateY(5px);
}
.backdrop-logo{
	opacity: .2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -20%);
}
.footer-internal{
	position: absolute;
	width: 100%;
	bottom: 0;	
}
.footer-logo{
	margin: auto;
	margin-top: 10%;
	max-width: 200px;
	
}
.social-logos svg{
	width: 28px;
	fill: var(--ACCENT1);
	margin: 0 12px;
	cursor: pointer;
}
.footer-link-container hr{
	max-width: 60%;
	margin-left: 0px;
}
footer hr{
	border: 0;
	margin: auto;
	border-bottom: 2px solid var(--ACCENT1);
}
.footer-title{
	color: var(--ACCENT1);
	font-size: 1.6em;
}
.footer-item{
	text-decoration: none;
	color: var(--ACCENT1);
	font-family: var(--font-content);
	font-weight: 100;
	letter-spacing: 1px;
	
}
footer p{
	color: var(--ACCENT1);
	font-family: var(--font-accent);
	letter-spacing: 2px;
	font-size: .8em;
}
.main-menu-footer{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.card-status{
	position: absolute;
	bottom: 25px;
	right: 25px;
	padding: 15px 25px;
	color: var(--LIGHT);
	background-color: var(--ACCENT2);
	z-index: 1000;
}
.description{
	color: #888;
}

/* --- Table pages --- */

.search-field{
	padding: 5px 15px;
	outline: 1px solid var(--ACCENT2);	
}

.search-internal-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.search-internal-container form{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}
.search-internal-container form label{
	line-height: 48px;
}
.search-internal-container{
	border-radius: 0 4px 4px 0;	
}
table{
	width: 100%;
	border-bottom: 3px solid var(--ACCENT2);
	margin-bottom: 100px;
}
th{
	background-color: var(--ACCENT2);
	padding: 20px 25px;
	color: var(--LIGHT);
	text-align: center;
	font-size: 1.2em;
	font-family: var(--font-accent);
}
th.large-width-column{
	min-width: 220px;
}
td{
	padding: 20px 12px;
	padding-left: 32px;
	font-family: var(--font-content);
}
input.select-checkbox{
	width: 100%
}
tr.even-row{
	background-color: #efefef88;
	outline: 1px solid #fff;
}
.btn-novo{
	display: inline-block;
	font-family: var(--font-content);
	background-color: var(--ACCENT2);
	color: var(--LIGHT);
	text-decoration: none;
	border-radius: 4px;
	font-size: 1.2em;
	padding: 8px 36px 10px 38px;
	transition: all .4s
}
.btn-novo:hover{
	filter: brightness(1.2);
}
.search-select{
	height: 48px;
	border-radius: 4px 0 0 4px;	
}
.search-select:hover option{
	color: var(--LIGHT);
}
.table-action{
	border: none;
	padding: 8px;	
	background-color: #fff0;
	transition: all .2s;
}
.table-action ion-icon{
	color: var(--ACCENT2);
	font-size: 1.4em;
	display: block;
	margin: 0;
}
.table-action:hover{
	background-color: var(--ACCENT2);
}
.table-action:hover ion-icon{
	color: var(--LIGHT);	
}
.sem-info-notice{
	display: inline-block;
	width: 80%;
	opacity: .6;
	font-size: 2em;
	font-family: var(--font-accent);
	color: var(--DARK-TP);
	padding-bottom: 120px;
}
.ribbon-icon{
	width: 70px;
}
/* --- Páginas de login --- */

.login-background{
	background: url("../img/bg/banner2.jpg");
	background-size: cover;
	background-attachment: fixed;	
	padding: 0;
}
#formLogin, #formTrocarSenha{
	margin-top: 130px;
}
#formLogin input, #formTrocarSenha input{
	max-width: 380px;
	border-radius: 3px;
}
.form-container{
	background-color: var(--LIGHT-TP);
	height: 600px;
	max-width: 680px; 
	margin-right: 0;
	backdrop-filter: blur(8px);
	box-shadow: 0 4px 16px var(--DARK-TP);
}

/* Modais de detalhes */
.label{
	display: inline-block;
	color: #444;
}
.info-label{
	display: inline-block;
	color: #444;
	width: 160px;
}
.info-value{
	margin-left: 20px;
	font-family: var(--font-content);
	font-weight: 400;
	color: #111;
}

#olid, #subtitulo{
	font-weight: 100;
	font-size: 1em;
	color: #888;
}
#subtitulo{
	margin-bottom: 20px;
}
#autores{
	margin: 0;
	font-weight: 400;
	font-family: var(--font-content);
}
#biografia{
	width: 80%;
}
.info-separator{
	max-width: 630px;
}
.info-separator-small{
	max-width: 330px;
}


